<!--<div class="main">-->
<section class="signup">
  <div class="container">
    <div class="signup-content">
      <div *ngIf="!isRegisted" class="signup-form">
        <h2 class="form-title">Sign up</h2>
        <form class="register-form" id="register-form" *ngIf="!isSuccessful"
              name="form" [formGroup]="form"
              (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="name"><i class="zmdi zmdi-account material-icons-name"></i></label>
            <input [formControlName]="'username'"
                   required (input)="validateForm()"
                   type="text" name="name" id="name" placeholder="Your Name"/>
          </div>
          <span class="error-msg-valid" *ngIf="!isValidUsername">{{validateService.usernameErr}}</span>
          <div class="form-group">
            <label for="email"><i class="zmdi zmdi-email"></i></label>
            <input [formControlName]="'email'"
                   required (input)="validateForm()"
                   type="email" name="email" id="email" placeholder="Your Email"/>
          </div>
          <span class="error-msg-valid" *ngIf="!isValidEmail">
            {{validateService.emailFormat}}
          </span>
          <div class="form-group">
            <label for="pass"><i class="zmdi zmdi-lock"></i></label>
            <input [formControlName]="'password'"
                   required (input)="validateForm()"
                   type="password" name="pass" id="pass" placeholder="Password"/>
          </div>
          <span class="error-msg-valid" *ngIf="!isValidPass">
              {{validateService.passWordFormat}}</span>
          <div class="form-group">
            <label for="re_pass"><i class="zmdi zmdi-lock-outline"></i></label>
            <input [formControlName]="'confirmPassword'"
                   required (input)="validateForm()"
                   type="password" name="re_pass" id="re_pass"
                   placeholder="Repeat your password"/>
          </div>
          <span class="error-msg-valid" *ngIf="!isValidRepass">{{validateService.passNotMatch}}</span>
          <div class="form-group">
            <input type="checkbox" name="agree-term" id="agree-term" class="agree-term"/>
            <label for="agree-term" class="label-agree-term"><span><span></span></span>I agree all statements in <a
              href="#" class="term-service">Terms of service</a></label>
            <span class="error-msg-valid" *ngIf="isSignUpFailed">
            {{ errorMessage }}
          </span>
          </div>
          <div class="form-group form-button" style="padding-top:0px;float: left;margin-top: 0%">
            <input type="submit" name="signup" id="signup" class="form-submit" value="Register"/>
          </div>
          <div class="social-login" style="float: right;margin-top: 6%">
            <span class="social-label">Or login with</span>
            <ul class="socials">
              <li class="cursor-pointer"><a><i
                class="display-flex-center zmdi zmdi-google"></i></a></li>
              <li><a href="#"><i class="display-flex-center zmdi zmdi-twitter"></i></a></li>
              <li><a class="cursor-pointer"><i
                class="display-flex-center zmdi zmdi-facebook"></i></a></li>
            </ul>
          </div>
        </form>
        <div class="alert alert-success" *ngIf="isSuccessful">
          Your registration is successful!
        </div>
      </div>
      <div *ngIf="isRegisted" class="signup-form">
        <div id='card' class="animated fadeIn">
          <div id='upper-side'>
            <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
            <svg version="1.1" id="checkmark" xmlns="http://www.w3.org/2000/svg"
                 xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" xml:space="preserve">
        <path d="M131.583,92.152l-0.026-0.041c-0.713-1.118-2.197-1.447-3.316-0.734l-31.782,20.257l-4.74-12.65
	c-0.483-1.29-1.882-1.958-3.124-1.493l-0.045,0.017c-1.242,0.465-1.857,1.888-1.374,3.178l5.763,15.382
	c0.131,0.351,0.334,0.65,0.579,0.898c0.028,0.029,0.06,0.052,0.089,0.08c0.08,0.073,0.159,0.147,0.246,0.209
	c0.071,0.051,0.147,0.091,0.222,0.133c0.058,0.033,0.115,0.069,0.175,0.097c0.081,0.037,0.165,0.063,0.249,0.091
	c0.065,0.022,0.128,0.047,0.195,0.063c0.079,0.019,0.159,0.026,0.239,0.037c0.074,0.01,0.147,0.024,0.221,0.027
	c0.097,0.004,0.194-0.006,0.292-0.014c0.055-0.005,0.109-0.003,0.163-0.012c0.323-0.048,0.641-0.16,0.933-0.346l34.305-21.865
	C131.967,94.755,132.296,93.271,131.583,92.152z"/>
              <circle fill="none" stroke="#ffffff" stroke-width="5" stroke-miterlimit="10" cx="109.486" cy="104.353"
                      r="32.53"/>
      </svg>
            <h3 id='status'>
              Please check your email to active your account!
            </h3>
          </div>
        </div>
      </div>
      <div class="signup-image">
        <figure><img src="assets/images/signup-image.jpg" alt="sing up image"></figure>
        <a routerLink="/login" class="signup-image-link">I am already member</a>
      </div>
    </div>
  </div>


</section>
<!--</div>-->
